@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

:root {
  font-size: 18px;
}

body {
  height: 100vh;
  width: 100vw;
  background: lightskyblue;
}

h2 {
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 15px;
}

header {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 15px;
  width: 100vw;
  text-align: center;
  background: lightseagreen;
}

nav {
  width: 250px;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
}

a,
a:visited,
a:focus,
a:active,
a:hover {
  text-decoration: none;
  color: rgb(41, 23, 146);
  font-weight: bold;
  transition: color 0.5s;
}

a:focus,
a:active,
a:hover {
  color: darkmagenta;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45vw;
}

input {
  padding: 7px;
  width: 100%;
  max-width: 300px;
  border: none;
  border-radius: 3px;
}

#result-container {
  margin-top: 25px;
}

.result {
  margin-top: 10px;
}

#list-container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  width: 45vw;
  max-width: 500px;
}
